body{
    background-color: rgb(224, 87, 87);
    align-items: center; 
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-size: arial,sans-serif;
}
.form-container{ 
background: #fff;
padding: 20px 30px;
border-radius: 8px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
width: 300px;
text-align: left;
box-shadow: 6px 6px 0px 0px rgb(2, 1, 1);
}
.form-container h2{
text-align: center;
margin-bottom: 5px;
color: #000;
}
.form-container input{
width: 200px;
padding: 6px;
border: 2px solid #b69e9e;
}
.form-container button{
width: 100%;
padding: 10px;
color: white;
margin-top: 5px;
background-color: #c0392b;       
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
}
.form-container buttom:hover{
background-color: #a93226;
}